.menulink{ color:#e0bed2; text-decoration:none; font-weight:bold; font-size:18px}
.menulink:hover{ text-decoration:underline; font-weight:bold}
.tableborder{border:solid 2px #f7028d; text-align:center; vertical-align:middle}
.toptdback{ height:35px; background-color:#f7028d; color:#e3d7de; font-size:22px; text-align:center}
.lefttext{ text-align:left; padding-left:30px; color:#f7028d }
.link{color:#f7028d; font-size:16px}
.prod{ color:#f7028d; font-size:18px; background-color:#f6cee3}
.prodltext{ color:#f7028d; font-weight:bold}
.prodrtext{ color:#f7028d;}